<ion-header>
  <ion-navbar>
    <ion-title>
      Membership
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="membership">
    <form action="{{membership.url}}" method="post">
      <input type="text" name="account" value="{{membership.account}}">
      <input type="text" name="app_id" value="{{membership.app_id}}">
      <input type="text" name="lang" value="{{membership.lang}}">
      <input type="text" name="object_pk" value="{{membership.object_pk}}">
      <input type="text" name="object_type" value="{{membership.object_type}}">
      <input type="text" name="price" value="{{membership.price}}">
      <input type="text" name="token" value="{{membership.token}}">

      <button type="submit" ion-button>Go</button>
    </form>
  </div>
</ion-content>
