<ion-tabs color="primary">
  <!--<ion-tab [root]="tabPharmacies" tabTitle="Аптеки" tabIcon="medkit"></ion-tab>-->
  <ion-tab [root]="tabPharmacies" tabIcon="medkit"></ion-tab>
  <ion-tab [root]="tabSearch" tabIcon="search"></ion-tab>
  <ion-tab [root]="tabSettings" tabIcon="contact"></ion-tab>
</ion-tabs>
