<ion-content class="tutorial-page">
  <ion-slides pager>
    <ion-slide>
      <!--<ion-toolbar>
        <ion-buttons end>
          <button ion-button>Войти</button>
        </ion-buttons>
      </ion-toolbar>-->
      <img src="/android_asset/www/assets/images/logo/Logo2.png" class="slide-image"/>
      <p style="text-align: center; font-size: small; color: white;">
        Мобильное приложения пульс предназначена<br/>
        для предварительного определения<br/>
        тех или иных видов заболевания
      </p>
      <button ion-button clear color="light" (click)="doLogin();" style="font-weight: bold;">Войти</button>
      <button ion-button clear color="light" (click)="doLoginFacebook();" style="font-weight: bold;">Войти через Facebook</button>
      <button ion-button clear color="light" (click)="doRegistr();" style="font-weight: bold;">Регистрация</button>

    </ion-slide>
  </ion-slides>

</ion-content>
