// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.searchbar-md .searchbar-input {
  height: auto;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1px;
  color: #141414;
  background-color: #fff;
  background-position: 8px center;
  border: none;
  border-radius: 15px;
  background-image: url(http://www.w3schools.com/howto/searchicon.png);
  background-position: right;
  background-repeat: no-repeat;
  padding: 2px 2px 2px 20px;
  -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.toolbar-background-md {
  background: #0c4d69;
}

.toolbar-title-md {
  color: white;
}
.map{
  height: 300px;
}
.tabs-md .tab-button-icon {
  font-size: 3.0rem;
}
.text{
  color: #575656;
}
